<a href="https://colab.research.google.com/github/Zee1000/Woman-Techsters-Fellowship---Machine-Learning/blob/main/Copy_of_Individual_Assignment_Hiring_Salary_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Full Name:** Zintle Thandile Mgwelo <br>
**Outlook Email:** ztmgwelo@outlook.com <br>
**WTF ID:** WTF/2025/6802

In [26]:

import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from google.colab import drive
drive.mount("/content/drive")

df = pd.read_csv("/content/drive/MyDrive/hiring.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
#Previewed the first 5 rows of the dataset
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [28]:
#Filled missing values in the experience column
df.experience = df.experience.fillna("zero")

#Converted text values in the experience column to numeric values
df.experience = df.experience.replace({"zero":0, "two":2, "three":3, "five":5, "seven":7,"ten":10, "eleven":11})

In [29]:
#Filled missing values in the test score column using the median value
df["test_score(out of 10)"] = df["test_score(out of 10)"].fillna(df["test_score(out of 10)"].median())

In [30]:
#Checked the data types of each column
df.dtypes

experience                      int64
test_score(out of 10)         float64
interview_score(out of 10)      int64
salary($)                       int64
dtype: object

In [31]:
#Separated input features (independent variables)
x = df.drop("salary($)", axis=1)

#Defined target variable (dependent variable)
y = df["salary($)"]


#Created a Linear Regression model
reg = LinearRegression()

#Trained the model using the dataset
reg.fit(x,y);

In [32]:
#Predicted salary for candidate with:
#2 years experience, 9 test score, 6 interview score

round(reg.predict([[2,9,6]])[0], 2)

np.float64(53205.97)

In [33]:
#Predicted salary for candidate with:
#12 years experience, 10 test score, 10 interview score
round(reg.predict([[12,10,10]])[0], 2)

np.float64(92002.18)